body {
	background: linear-gradient(-45deg, #ffffff, #cfebf5, #a9b2f3);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.App {
  text-align: center;
}

h2 {
  color: rgb(0, 70, 144);
}

.box img{
  height: 580px;
  margin-bottom: 30px;
}

a {
  border: 1px solid green;
  border-radius: 7px;
  font-size: 1.2em;
  margin: 10px;
  padding: 7px 70px;
  text-decoration: none;
  color: green;
}

a:hover {
  border-color: rgb(0, 70, 144);
  color: rgb(0, 70, 144);
  background-color: rgb(230, 238, 244);
  transition-timing-function: ease-in;
  transition: 0.5s;
}